input {
  padding: 6px;
  margin-bottom: 10px;
  width: 300px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
